<div class="wrapper">
        <!-- Sidebar - Overlay -->
        <!-- <app-sidebar></app-sidebar> -->
    
        <div class="container-fluid">
            <!-- Topbar -->
            <app-topbar></app-topbar>
            
            <!-- Sidebar - Fix Left -->
            <app-sidebar-fix></app-sidebar-fix>
    
            <!-- Titlebar -->
            <app-titlebar></app-titlebar>

            <!-- Page Content -->
            <div id="app-content">
                <div class="container-fluid">
                    

                    <router-outlet></router-outlet>
    
                    <!-- without running change-detection explicitly, binding [show] to isLoading$ causes the error -->
                    <ngx-loading [show]="isLoading$ | async"></ngx-loading>
    
                    <!-- <button [disabled]="isLoading$ | async">Loading</button>
                    {{isLoading$ | async}}
                    <div *ngIf="isLoading$ | async; else finishLoading">Loading....</div>
                    <ng-template #finishLoading><div>Finish loading</div></ng-template> -->
                </div>
            </div>
        </div>
    
        <!-- Dark Overlay element -->
        <div class="overlay"></div>
    </div>