// Importing bootstrap scss files must be in this specific order
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

$default-transition: all 0.3s;

$z-index-sidebar: 99999;
$z-index-overlay: 9999;
$z-index-topbar: 999;
$z-index-content: 999;

$topbar-height: 100px;

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: #edf2f9;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: $default-transition;
}

a[data-toggle="collapse"] {
    position: relative;
}

div {
    &.form-group {
        label[required] {
            &:before {
                content: '*';
                color: red;
                padding-right: 3px;
            }
        }

        //.form-control[required] {
        .form-control {
            transition: $default-transition;

            &.ng-invalid {
                background-color: rgba(250, 0, 0, 0.3);
                //border-bottom: 2px solid red;
            }
        }
    }
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.wrapper {
    display: flex;
    width: 100%;
    //align-items: stretch;

    > .container-fluid {
        padding: { left: 0; right: 0; }
        margin: 0;
    }
}

#topbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: $zindex-sticky;
    //z-index: $z-index-topbar;

    .navbar {
        padding: { left: 0; right: 0; }
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .breadcrumb {
        font-size: 0.85em;
        margin: 0;
        padding: { top: 8px; bottom: 8px; }
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    }
}

#app-content {
    width: 100%;
    transition: $default-transition;

    margin: {
        //top: $topbar-height;
    }

    @include media-breakpoint-up(md) {
        &.active {
            margin-left: 250px;
            width: calc(100% - 250px);
        }
    }
}

#sidebar-overlay {
    position: fixed;
    min-width: 250px;
    max-width: 250px;
    height: 100vh; // Viewport height
    background: #7386D5;
    color: #fff;
    transition: $default-transition;
    margin-left: -250px;
    z-index: $z-index-sidebar;

    #dismiss {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background: #7386D5;
        cursor: pointer;
        transition: $default-transition;
        
        &:hover {
            color: #7386D5;
            background: #fff;
        }
    }

    &.active {
        margin-left: 0;
    }

    .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
        font-size: 1.1em;
    }

    ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    ul p {
        color: #fff;
        padding: 10px;
    }

    ul li a {
        color: #fff;
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

    ul li a:hover {
        color: #7386D5;
        background: #fff;
    }

    ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }
}

#sidebar-fix {
    position: fixed;
    min-width: 250px;
    max-width: 250px;
    height: 100vh; // Viewport height
    background: #7386D5;
    color: #fff;
    transition: $default-transition;
    margin-left: -250px;
    padding-bottom: 75px;
    //z-index: $z-index-sidebar;

    #dismiss {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background: #7386D5;
        cursor: pointer;
        transition: $default-transition;
        
        &:hover {
            color: #7386D5;
            background: #fff;
        }
    }

    &.active {
        margin-left: 0;
    }

    .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
        font-size: 1.1em;
    }

    ul.components {
        padding: 20px 0;
        //border-bottom: 1px solid #47748b;
    }

    ul p {
        color: #fff;
        padding: 10px;
    }

    ul li a {
        color: #fff;
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

    ul li a:hover {
        color: #7386D5;
        background: #fff;
    }

    ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: $z-index-overlay;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;

    /* display .overlay when it has the .active class */
    &.active {
        display: block;
        opacity: 1;
    }
}

.dropdown-toggle { // Small triangle next to dropdown menu items
    &.collapsed::after, &::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
    
    &.collapsed::after {
        border-top: .3em solid;
        border-bottom: 0;
    }

    &::after {
        border-top: 0;
        border-bottom: .3em solid;
    }
}